# Monthly Weather: NYC Forecast
From July 1,2022 to July 30, 2022

website: https://weather.com/weather/monthly/l/f892433d7660da170347398eb8e3d722d8d362fe7dd15af16ce88324e1b96e70

In [211]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

response = requests.get("https://weather.com/weather/monthly/l/f892433d7660da170347398eb8e3d722d8d362fe7dd15af16ce88324e1b96e70")
doc = BeautifulSoup(response.text)

In [212]:
# June 26 (one day)

for each in doc.find_all("button", class_="Button--default--3zkvy CalendarDateCell--dayCell--2s4Tp CalendarDateCell--firstCell--1FnOi CalendarDateCell--firstRow--1_xoa"):
    for date in each.find_all("span",class_="CalendarDateCell--date--3Fw3h"):
        date.text
    for tempmax in each.find_all("div",class_="CalendarDateCell--tempHigh--2VBba"):
        tempmax.text
    print("June",date.text,tempmax.text)

June 26 89°

In [140]:
# June 27 to July 2

for each in doc.find_all("button", class_="Button--default--3zkvy CalendarDateCell--dayCell--2s4Tp CalendarDateCell--firstRow--1_xoa"):
    for date in each.find_all("span",class_="CalendarDateCell--date--3Fw3h"):
        date.text
    for tempmax in each.find_all("div",class_="CalendarDateCell--tempHigh--2VBba"):
        tempmax.text
    if int(date.text) >= 27:
        # turn date.text to integers first before if statement
        print("June",date.text,tempmax.text) 
    else:
        print("July",date.text,tempmax.text)

June 27 77°
June 28 79°
June 29 84°
June 30 88°
July 1 93°
July 2 88°

In [141]:
# July 3, July 10, July 17, July 24

for each in doc.find_all("button", class_="Button--default--3zkvy CalendarDateCell--dayCell--2s4Tp CalendarDateCell--firstCell--1FnOi"):
    for date in each.find_all("span",class_="CalendarDateCell--date--3Fw3h"):
        date.text
    for tempmax in each.find_all("div",class_="CalendarDateCell--tempHigh--2VBba"):
        tempmax.text
    print("July", date.text,tempmax.text)

July 3 87°
July 10 82°
July 17 87°
July 24 85°

In [142]:
# July 4 to July 30

for each in doc.find_all("button", class_="Button--default--3zkvy CalendarDateCell--dayCell--2s4Tp"):
    for date in each.find_all("span",class_="CalendarDateCell--date--3Fw3h"):
        date.text
    for tempmax in each.find_all("div",class_="CalendarDateCell--tempHigh--2VBba"):
        tempmax.text
    print("July", date.text,tempmax.text)

July 4 86°
July 5 87°
July 6 88°
July 7 77°
July 8 85°
July 9 85°
July 11 84°
July 12 89°
July 13 92°
July 14 88°
July 15 87°
July 16 87°
July 18 87°
July 19 89°
July 20 90°
July 21 85°
July 22 85°
July 23 85°
July 25 85°
July 26 85°
July 27 85°
July 28 85°
July 29 85°
July 30 85°

## Make a dataframe

1. First, make several small lists: nyc1, nyc2, nyc3, nyc4;
2. Second, make a new big list: nyc_weather = nyc1 + nyc2 + nyc3 + nyc4
3. Then, Turn nyc_weather into a dataframe
4. Final step, save to a new csv

In [144]:
# June 26 (one day)

nyc1=[]

for each in doc.find_all("button", class_="Button--default--3zkvy CalendarDateCell--dayCell--2s4Tp CalendarDateCell--firstCell--1FnOi CalendarDateCell--firstRow--1_xoa"):
    for date in each.find_all("span",class_="CalendarDateCell--date--3Fw3h"):
        date.text
    for tempmax in each.find_all("div",class_="CalendarDateCell--tempHigh--2VBba"):
        tempmax.text
    #print("June",date.text,tempmax.text)
    
    weather={
        "date": date.text,
        "tempmax":tempmax.text,
    }

    nyc1.append(weather)
    
print(nyc1)

[{'date': '26', 'tempmax': '89°'}]

In [145]:
# June 27 to July 2
nyc2=[]

for each in doc.find_all("button", class_="Button--default--3zkvy CalendarDateCell--dayCell--2s4Tp CalendarDateCell--firstRow--1_xoa"):
    for date in each.find_all("span",class_="CalendarDateCell--date--3Fw3h"):
        date.text
    for tempmax in each.find_all("div",class_="CalendarDateCell--tempHigh--2VBba"):
        tempmax.text
    
    weather={
        "date": date.text,
        "tempmax":tempmax.text,
    }

    nyc2.append(weather)

print(nyc2)

[{'date': '27', 'tempmax': '77°'}, {'date': '28', 'tempmax': '79°'}, {'date': '29', 'tempmax': '84°'}, {'date': '30', 'tempmax': '88°'}, {'date': '1', 'tempmax': '93°'}, {'date': '2', 'tempmax': '88°'}]

In [146]:
# July 3, July 10, July 17, July 24
nyc3=[]

for each in doc.find_all("button", class_="Button--default--3zkvy CalendarDateCell--dayCell--2s4Tp CalendarDateCell--firstCell--1FnOi"):
    for date in each.find_all("span",class_="CalendarDateCell--date--3Fw3h"):
        date.text
    for tempmax in each.find_all("div",class_="CalendarDateCell--tempHigh--2VBba"):
        tempmax.text
        
    weather ={
        "date": date.text,
        "tempmax":tempmax.text,
    }

    nyc3.append(weather)
print(nyc3)

[{'date': '3', 'tempmax': '87°'}, {'date': '10', 'tempmax': '82°'}, {'date': '17', 'tempmax': '87°'}, {'date': '24', 'tempmax': '85°'}]

In [193]:
# July 4 to July 30
nyc4=[]

for each in doc.find_all("button", class_="Button--default--3zkvy CalendarDateCell--dayCell--2s4Tp"):
    for date in each.find_all("span",class_="CalendarDateCell--date--3Fw3h"):
        date.text
    for tempmax in each.find_all("div",class_="CalendarDateCell--tempHigh--2VBba"):
        tempmax.text
        
    weather ={
        "date": date.text,
        "tempmax":tempmax.text,
    }

    nyc4.append(weather)
print(nyc4)

[{'date': '4', 'tempmax': '86°'}, {'date': '5', 'tempmax': '87°'}, {'date': '6', 'tempmax': '88°'}, {'date': '7', 'tempmax': '77°'}, {'date': '8', 'tempmax': '85°'}, {'date': '9', 'tempmax': '85°'}, {'date': '11', 'tempmax': '84°'}, {'date': '12', 'tempmax': '89°'}, {'date': '13', 'tempmax': '92°'}, {'date': '14', 'tempmax': '88°'}, {'date': '15', 'tempmax': '87°'}, {'date': '16', 'tempmax': '87°'}, {'date': '18', 'tempmax': '87°'}, {'date': '19', 'tempmax': '89°'}, {'date': '20', 'tempmax': '90°'}, {'date': '21', 'tempmax': '85°'}, {'date': '22', 'tempmax': '85°'}, {'date': '23', 'tempmax': '85°'}, {'date': '25', 'tempmax': '85°'}, {'date': '26', 'tempmax': '85°'}, {'date': '27', 'tempmax': '85°'}, {'date': '28', 'tempmax': '85°'}, {'date': '29', 'tempmax': '85°'}, {'date': '30', 'tempmax': '85°'}]

In [194]:
nyc_weather = nyc1+nyc2+nyc3+nyc4
nyc_weather

df = pd.DataFrame(nyc_weather)
df

   date tempmax
0    26     89°
1    27     77°
2    28     79°
3    29     84°
4    30     88°
5     1     93°
6     2     88°
7     3     87°
8    10     82°
9    17     87°
10   24     85°
11    4     86°
12    5     87°
13    6     88°
14    7     77°
15    8     85°
16    9     85°
17   11     84°
18   12     89°
19   13     92°
20   14     88°
21   15     87°
22   16     87°
23   18     87°
24   19     89°
25   20     90°
26   21     85°
27   22     85°
28   23     85°
29   25     85°
30   26     85°
31   27     85°
32   28     85°
33   29     85°
34   30     85°

In [195]:
# Drop the values from June!!
# axis=0 means drop selected rows
# axis=1 means drop selected columns
df_July = df.drop(axis=0,labels=[0,1,2,3,4])
df_July.date = df_July.date.astype(int)
df_July

    date tempmax
5      1     93°
6      2     88°
7      3     87°
8     10     82°
9     17     87°
10    24     85°
11     4     86°
12     5     87°
13     6     88°
14     7     77°
15     8     85°
16     9     85°
17    11     84°
18    12     89°
19    13     92°
20    14     88°
21    15     87°
22    16     87°
23    18     87°
24    19     89°
25    20     90°
26    21     85°
27    22     85°
28    23     85°
29    25     85°
30    26     85°
31    27     85°
32    28     85°
33    29     85°
34    30     85°

In [209]:
df_July = df_July.sort_values(by ='date')
df_July.to_csv("July_2022_tempmax.csv")

# Clean the saved csv file!

In [96]:
import pandas as pd
df_July2 = pd.read_csv("July_2022_tempmax.csv")

In [97]:
# Clean the column values a little bit!
df_July2.tempmax = df_July2.tempmax.str.replace("°","")

# Convert date columns to datetime

Python strftime cheatsheet: https://strftime.org/

In [98]:
# Fill the date column value with zero using str.zfill function
df_July2.date = df_July2.date.astype(str)
df_July2.date = df_July2.date.str.zfill(2)

# Create new columns named "Month" and "Year"
# Combine Year & Month & date columns into a new column named "DATE"
df_July2["Year"] = "2022"
df_July2["Month"] = "07"
df_July2["Date"] = df_July2.Year + df_July2.Month + df_July2.date.astype(str)

In [99]:
df_July2["DATE"] = pd.to_datetime(df_July2.Date, format = "%Y%m%d",errors='coerce')
df_July2

   date tempmax  Year Month      Date       DATE
0    01      93  2022    07  20220701 2022-07-01
1    02      88  2022    07  20220702 2022-07-02
2    03      87  2022    07  20220703 2022-07-03
3    04      86  2022    07  20220704 2022-07-04
4    05      87  2022    07  20220705 2022-07-05
5    06      88  2022    07  20220706 2022-07-06
6    07      77  2022    07  20220707 2022-07-07
7    08      85  2022    07  20220708 2022-07-08
8    09      85  2022    07  20220709 2022-07-09
9    10      82  2022    07  20220710 2022-07-10
10   11      84  2022    07  20220711 2022-07-11
11   12      89  2022    07  20220712 2022-07-12
12   13      92  2022    07  20220713 2022-07-13
13   14      88  2022    07  20220714 2022-07-14
14   15      87  2022    07  20220715 2022-07-15
15   16      87  2022    07  20220716 2022-07-16
16   17      87  2022    07  20220717 2022-07-17
17   18      87  2022    07  20220718 2022-07-18
18   19      89  2022    07  20220719 2022-07-19
19   20      90  2022    07  20220720 2022-07-20
20   21      85  2022    07  20220721 2022-07-21
21   22      85  2022    07  20220722 2022-07-22
22   23      85  2022    07  20220723 2022-07-23
23   24      85  2022    07  20220724 2022-07-24
24   25      85  2022    07  20220725 2022-07-25
25   26      85  2022    07  20220726 2022-07-26
26   27      85  2022    07  20220727 2022-07-27
27   28      85  2022    07  20220728 2022-07-28
28   29      85  2022    07  20220729 2022-07-29
29   30      85  2022    07  20220730 2022-07-30

# Save the clean data to a new csv file!

In [100]:
df_July2.to_csv("July2_2022_tempmax.csv")